:root {
  --colorBGLia: #710000;
  --colorBGChloe: #599bff;
  --colorBGButtonLia: #500000;
  --colorBGButtonChloe: #346ec5;

  --colorLia: rgb(152, 141, 255);
  --colorChloe: rgb(88, 7, 109);

  --fontSizePrimary: 2.6vw;
  --fontSizeSecondary: 1.5vw;
  --fontSizeTertiary: 1vw;
  --fontSizeButton: 0.8vw;
  --fontSizeMobilePrimary: 6vw;
  --fontSizeMobileSecondary: 3vw;
  --fontSizeMobileTertiary: 2vw;
  --fontSizeMobileButton: 1.7vw;

  --backgroundImgLia: url("../media/bgimglia.png");
  --backgroundImgChloe: url("../media/bgimgchloe.png");

  --backgroundImgCurrent: var(--backgroundImgLia);
  --colorCurrent: var(--colorLia);
  --BGColorCurrent: var(--colorBGLia);
  --colorBGButtonCurrent: var(--colorBGButtonLia);
}

html {
  scrollbar-width: none;
}

body {
  background-image: var(--backgroundImgCurrent);
  margin: -10vh auto;
  font-family: monospace;
}

.page {
  min-height: 110vh;
  background-image: var(--backgroundImgCurrent);
  animation: moveBgDown 1s linear infinite,
    moveBgLeftRight 3s ease-in-out infinite alternate;
}

@keyframes moveBgDown {
  from {
    background-position-y: 0vh;
  }
  to {
    background-position-y: 256px;
  }
}
@keyframes moveBgLeftRight {
  from {
    background-position-x: 0vw;
  }
  to {
    background-position-x: -10vw;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.toggle-btn {
  cursor: pointer;
  text-align: center;
  font-size: var(--fontSizeButton);
  padding: 8px 8px;
  border: 8px solid;
  border-image: var(--backgroundImgCurrent) 25 repeat;
  color: var(--colorCurrent);
}

.toggle-btn:hover {
  background-image: var(--backgroundImgCurrent);
  animation: moveBgDown 5s linear infinite alternate-reverse,
    moveBgLeftRight 3s ease-in-out infinite alternate-reverse;
}

.middleSection {
  border-radius: 10px;
  padding: 25px;
  width: 70vw;
  margin: auto;
  background-color: var(--BGColorCurrent);
  scrollbar-width: none;
}

h1 {
  font-size: var(--fontSizePrimary);
  color: var(--colorCurrent);
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: var(--fontSizeSecondary);
  color: var(--colorCurrent);
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

p {
  font-size: var(--fontSizeTertiary);
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 1000;
  top: 50%;
  pointer-events: none;
}

.navbar a {
  color: var(--colorCurrent);
  text-align: center;
  text-decoration: none;
  font-size: var(--fontSizeSecondary);
  border: 10px solid;
  border-image: var(--backgroundImgCurrent) 25 repeat;
  margin: 10px 20px;
  padding: 5px;
  pointer-events: auto;
}

.navbar a:hover {
  background-image: var(--backgroundImgCurrent);
  animation: moveBgDown 5s linear infinite alternate-reverse,
    moveBgLeftRight 3s ease-in-out infinite alternate-reverse;
}

.navbar-right {
  display: flex;
  flex-direction: column;
}
.navbar-left {
  display: flex;
  flex-direction: column;
}

.entry {
  border: 10px solid;
  border-image: var(--backgroundImgCurrent) 25 repeat;
  display: flex;
  margin: 10px 0px;
  flex-direction: column;
  text-align: center;
  padding: 1vw;
}

/* MOBILE */
@media (max-width: 900px) {
  h1 {
    font-size: var(--fontSizeMobilePrimary);
  }
  p {
    font-size: var(--fontSizeMobileTertiary);
  }
  body {
    margin: 20px 0px;
  }

  .page {
    min-height: 100vh;
  }

  .middleSection {
    margin: 15vh auto 5vh;
  }
  .navbar {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-image: var(--backgroundImgCurrent);
  }

  .navbar a {
    font-size: var(--fontSizeMobileSecondary);
    margin: 1vw 2vw;
  }

  .navbar-right {
    flex-direction: row;
  }
  .navbar-left {
    flex-direction: row;
  }

  .buttons {
    font-size: var(--fontSizeMobileButton);
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .page {
    animation: none;
  }
}

#toggleAnim:checked ~ .page {
  animation-play-state: paused;
}

#toggleTheme:checked ~ .page {
  --colorCurrent: var(--colorChloe);
  --BGColorCurrent: var(--colorBGChloe);
  --colorBGButtonCurrent: var(--colorBGButtonChloe);
  --backgroundImgCurrent: var(--backgroundImgChloe);
}

span {
  justify-content: center;
}

.hilia {
  display: flex;
}
.hichloe {
  display: none;
}

#toggleTheme:checked ~ .page .middleSection .entry .hilia {
  display: none;
}

#toggleTheme:checked ~ .page .middleSection .entry .hichloe {
  display: flex;
}

#toggleTheme:checked
  ~ .page
  .middleSection
  .musicEntryWrapper
  .musicEntry
  .entry
  .hichloe {
  display: none;
}

#toggleTheme:checked
  ~ .page
  .middleSection
  .musicEntryWrapper
  .musicEntry
  .entry
  .hilia {
  display: none;
}
