:root {
  --colorBG: #710000;
  --colorBG2: #500000;
  --colorPrimary: rgb(152, 141, 255);
  --colorSecondary: rgb(202, 202, 202);

  --fontSizePrimary: 2.6vw;
  --fontSizeSecondary: 1.5vw;
  --fontSizeTertiary: 1vw;
  --fontSizeButton: 0.8vw;
  --fontSizeMobilePrimary: 6vw;
  --fontSizeMobileSecondary: 3vw;
  --fontSizeMobileTertiary: 2vw;
  --fontSizeMobileButton: 1.7vw;

  /* --x: 0px;
  --y: 0px; */
}

html {
  scrollbar-width: none;
}

.bg {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  z-index: -1;
  width: 200%;
  height: 200%;
  background-image: url("../media/bgimg.png");
  /* transform: translate(var(--x), var(--y)); */
}

body {
  margin: 0;
  font-family: monospace;
  margin: 0;
}

.page {
  background-image: url("../media/bgimg.png");
  animation: moveBgDown 1s linear infinite,
    moveBgLeftRight 3s ease-in-out infinite alternate;
}

@keyframes moveBgDown {
  from {
    background-position-y: 0vh;
  }
  to {
    background-position-y: 256px;
  }
}
@keyframes moveBgLeftRight {
  from {
    background-position-x: 0vw;
  }
  to {
    background-position-x: -10vw;
  }
}

#toggleAnim:checked ~ .page {
  animation-play-state: paused;
}
.toggle-btn {
  font-size: var(--fontSizeButton);
  text-align: center;
  padding: 8px 8px;
  background: var(--colorBG2);
  color: var(--colorPrimary);
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
}

.middleSection {
  border-radius: 10px;
  padding: 25px;
  width: 70vw;
  height: 100vh;
  margin: -100px auto;
  background-color: var(--colorBG);
}

h1 {
  font-size: var(--fontSizePrimary);
  color: var(--colorPrimary);
  text-align: center;
  margin: auto;
}
p {
  font-size: var(--fontSizeTertiary);
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  overflow: hidden;
  z-index: 1000;
  top: 50%;
}

.navbar a {
  color: var(--colorPrimary);
  text-align: center;
  text-decoration: none;
  font-size: var(--fontSizeSecondary);
  border: 10px solid;
  border-image: url("../media/bgimg.png") 25 repeat;
  margin: 10px 20px;
  padding: 5px;
}

.navbar a:hover {
  background-image: url("../media/bgimg.png");
}

.navbar-right {
  display: flex;
  flex-direction: column;
}
.navbar-left {
  display: flex;
  flex-direction: column;
}

/* MOBILE */
@media (max-width: 900px) {
  h1 {
    font-size: var(--fontSizeMobilePrimary);
  }
  p {
    font-size: var(--fontSizeMobileTertiary);
  }
  .middleSection {
    margin: 0px auto;
  }
  .navbar {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;

    background-image: url("../media/bgimg.png");
  }

  .navbar a {
    font-size: var(--fontSizeMobileSecondary);
    margin: 1vw 2vw;
  }

  .navbar-right {
    flex-direction: row;
  }
  .navbar-left {
    flex-direction: row;
  }

  .toggle-btn {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: var(--fontSizeMobileButton);
  }
}

@media (prefers-reduced-motion: reduce) {
  .page {
    animation: none;
  }
}
